list-actions-dropdown {
    --sl-font-size-x-small: 10px;
    --sl-font-size-small: 12px;
    --sl-font-size-medium: 14px;
}

list-actions-dropdown sl-icon-button::part(base),
list-actions-dropdown sl-menu {
    padding: 0;
}

list-actions-dropdown sl-menu-item::part(checked-icon),
list-actions-dropdown sl-menu-item::part(submenu-icon) {
    display: none;
}